PresentationLayerWinform/bin/
BusinessLogicLayer/obj/
BusinessLogicLayer/bin/
.vs/PracticoTSI1/v14/.suo
CrossCutting/obj/
DataAccessLayer/obj/
Test/obj/
ServiceLayer/obj/
ServiceLayer/bin/
PresentationLayerWinform/obj/
Test/
CrossCutting/bin/
DataAccessLayer/bin/
DataAccessLayer/obj/
PracticoTSI1.sln
