PresentationLayerWinform/bin/
BusinessLogicLayer/obj/
BusinessLogicLayer/bin/
.vs/PracticoTSI1/v14/.suo
CrossCutting/obj/
DataAccessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Test/obj/
ServiceLayer/obj/
ServiceLayer/bin/
PresentationLayerWinform/obj/
Test/
CrossCutting/bin/Debug/Shared.dll
CrossCutting/bin/Debug/Shared.pdb
DataAccessLayer/bin/Debug/DataAccessLayer.dll
DataAccessLayer/bin/Debug/DataAccessLayer.pdb
DataAccessLayer/bin/Debug/Shared.dll
DataAccessLayer/bin/Debug/Shared.pdb
DataAccessLayer/obj/Debug/DataAccessLayer.csproj.FileListAbsolute.txt
DataAccessLayer/obj/Debug/DataAccessLayer.csprojResolveAssemblyReference.cache
DataAccessLayer/obj/Debug/DataAccessLayer.dll
DataAccessLayer/obj/Debug/DataAccessLayer.pdb
